<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/notar-home">Aplikacija za notara</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/notar-home">Početna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/notar-profile">Pregled profila</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Odjava</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container-fluid">
  <h1>{{title}}</h1>
  <div class="form-group row">
    <label for="jmbgInput" class="col-sm-2 col-form-label">JMBG:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="jmbgInput" [(ngModel)]="jmbgFilter">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" (click)="pretrazi()">Pretraži po jmbg</button>
    </div>
  </div>
  <div class="form-group row">
    <label for="adresaInput" class="col-sm-2 col-form-label">Adresa:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="adresaInput" [(ngModel)]="adresaFilter">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" (click)="pretraziPoAdresi()">Pretraži po adresi</button>
    </div>
  </div>
  <div class="form-group row">
    <label for="imeInput" class="col-sm-2 col-form-label">Ime:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="imeInput" [(ngModel)]="imeFilter">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" (click)="pretraziPoImenu()">Pretraži po imenu</button>
    </div>
  </div>
  <div class="form-group row">
    <label for="prezimeInput" class="col-sm-2 col-form-label">Prezime:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="prezimeInput" [(ngModel)]="prezimeFilter">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" (click)="pretraziPoPrezimenu()">Pretraži po prezimenu</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4" *ngFor="let korisnik of korisnici">
      <div class="card mb-3">
        <div class="card-header">{{korisnik.ime}} {{korisnik.prezime}}</div>
        <div class="card-body">
          <p class="card-text"><strong>JMBG:</strong> {{korisnik.jmbg}}</p>
          <p class="card-text"><strong>Adresa rođenja:</strong> {{korisnik.adresaRodjenja}}, {{korisnik.mestoIOpstinaRodjenja}}, {{korisnik.drzavaRodjenja}}</p>
          <p class="card-text"><strong>Ime oca:</strong> {{korisnik.imeOca}}</p>
          <p class="card-text"><strong>Prezime oca:</strong> {{korisnik.prezimeOca}}</p>
          <p class="card-text"><strong>Zanimanje oca:</strong> {{korisnik.zanimanjeOca}}</p>
          <p class="card-text"><strong>Ime majke:</strong> {{korisnik.imeMajke}}</p>
          <p class="card-text"><strong>Prezime majke:</strong> {{korisnik.prezimeMajke}}</p>
          <p class="card-text"><strong>Zanimanje majke:</strong> {{korisnik.zanimanjeMajke}}</p>
          <p class="card-text"><strong>Državljanstvo:</strong> {{korisnik.drzavljanstvo}}</p>
          <p class="card-text"><strong>JMBG oca:</strong> {{korisnik.jmbgOca}}</p>
          <p class="card-text"><strong>JMBG majke:</strong> {{korisnik.jmbgMajke}}</p>
          <p class="card-text"><strong>Datum i vreme rođenja:</strong> {{korisnik.danMesecGodinaIVremeRodjenja}}</p>
          <p class="card-text"><strong>Broj roditelja:</strong> {{korisnik.roditelji}}</p>
          <p class="card-text"><strong>Broj dece:</strong> {{korisnik.deca}}</p>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="povratak()">Povratak na stranicu sa ugovorima</button>
    <!-- <button type="button" class="btn btn-danger" (click)="downloadKorisnik1PDF()">Preuzmi izveštaj za korisnika1 (PDF) <i class="fa fa-download"></i></button>
    <br><br>
    <button type="button" class="btn btn-danger" (click)="downloadKorisnik2PDF()">Preuzmi izveštaj za korisnika2 (PDF) <i class="fa fa-download"></i></button>
    <br><br>
    <button type="button" class="btn btn-danger" (click)="downloadKorisnik3PDF()">Preuzmi izveštaj za korisnika3 (PDF) <i class="fa fa-download"></i></button> -->
</div>
