<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand ml-auto" href="/gradjanin-home">eGrađanin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/gradjanin-home">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gradjanin-profile">Pregled profila</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/gradjanin-katastar">Pregled sistema katastra</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/gradjanin-maticar">Pregled sistema matičara</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/gradjanin-notar">Pregled sistema notara</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Odjava</a>
        </li>
      </ul>
    </div>
</nav>
<h1>Istorija sastanaka</h1>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-6">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <div class="img-container">
              <img src="/assets/calendar.png" width="200px" alt="Opis slike">
            </div>
          </div>
          <div class="col-md-10">
            <h5 class="card-title"><a routerLink="/katastar-utvrdjivanje-broja-parcele-gradjanin">Notar - zakazi overu ugovora</a></h5>
            <p class="card-text">Za zakazivanje sastanka za overu ugovoru o kupoprodaji prijavite se ovde.</p>
          </div>
        </div>
      </div>
    </div>
</div>

</div>

