<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand ml-auto" href="/katastar-home">Aplikacija za katastar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/katastar-home">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/katastar-profile">Pregled profila</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Odjava</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container my-4">
    <h1 class="text-center">{{ title }}</h1>
    <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Godina:</span>
            </div>
            <input type="number" class="form-control" id="godina" name="godina" [(ngModel)]="godinaPretrage">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" (click)="pretraziPoGodini()">Pretraži</button>
            </div>
          </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" (click)="toggleSortOrder('godina')">
            Godina
            <i *ngIf="isSortOrderAsc('godina')" class="fas fa-sort-up"></i>
            <i *ngIf="isSortOrderDesc('godina')" class="fas fa-sort-down"></i>
            <i *ngIf="isSortOrderNone('godina')" class="fas fa-sort"></i>
          </th>
          <th scope="col" (click)="toggleSortOrder('podnetiZahtevi')">
            Broj podnetih zahteva
            <i *ngIf="isSortOrderAsc('podnetiZahtevi')" class="fas fa-sort-up"></i>
            <i *ngIf="isSortOrderDesc('podnetiZahtevi')" class="fas fa-sort-down"></i>
            <i *ngIf="isSortOrderNone('podnetiZahtevi')" class="fas fa-sort"></i>
          </th>
          <th scope="col" (click)="toggleSortOrder('reseniZahtevi')">
            Broj rešenih zahteva
            <i *ngIf="isSortOrderAsc('reseniZahtevi')" class="fas fa-sort-up"></i>
            <i *ngIf="isSortOrderDesc('reseniZahtevi')" class="fas fa-sort-down"></i>
            <i *ngIf="isSortOrderNone('reseniZahtevi')" class="fas fa-sort"></i>
          </th>
          <th scope="col" (click)="toggleSortOrder('procenatDrugostepenihZalbi')">
            Procenat drugostepenih žalbi
            <i *ngIf="isSortOrderAsc('procenatDrugostepenihZalbi')" class="fas fa-sort-up"></i>
            <i *ngIf="isSortOrderDesc('procenatDrugostepenihZalbi')" class="fas fa-sort-down"></i>
            <i *ngIf="isSortOrderNone('procenatDrugostepenihZalbi')" class="fas fa-sort"></i>
          </th>
          <th scope="col" (click)="toggleSortOrder('registrovaneParcele')">
            Broj novih registrovanih parcela
            <i *ngIf="isSortOrderAsc('registrovaneParcele')" class="fas fa-sort-up"></i>
            <i *ngIf="isSortOrderDesc('registrovaneParcele')" class="fas fa-sort-down"></i>
            <i *ngIf="isSortOrderNone('registrovaneParcele')" class="fas fa-sort"></i>
          </th>
          <th scope="col" (click)="toggleSortOrder('upisanaPravaNaParcelama')">
            Broj upisanih prava na parcelama
            <i *ngIf="isSortOrderAsc('upisanaPravaNaParcelama')" class="fas fa-sort-up"></i>
            <i *ngIf="isSortOrderDesc('upisanaPravaNaParcelama')" class="fas fa-sort-down"></i>
            <i *ngIf="isSortOrderNone('upisanaPravaNaParcelama')" class="fas fa-sort"></i>
          </th>
          <th scope="col" (click)="toggleSortOrder('vrednostUpisanihPrava')">
            Vrednost upisanih prava (u RSD)
            <i *ngIf="isSortOrderAsc('vrednostUpisanihPrava')" class="fas fa-sort-up"></i>
            <i *ngIf="isSortOrderDesc('vrednostUpisanihPrava')" class="fas fa-sort-down"></i>
            <i *ngIf="isSortOrderNone('vrednostUpisanihPrava')" class="fas fa-sort"></i>
          </th>
          <th scope="col" (click)="toggleSortOrder('zahteviZaPromenuVlasnistva')">
            Broj obrađenih zahteva za promenu vlasništva
            <i *ngIf="isSortOrderAsc('zahteviZaPromenuVlasnistva')" class="fas fa-sort-up"></i>
            <i *ngIf="isSortOrderDesc('zahteviZaPromenuVlasnistva')" class="fas fa-sort-down"></i>
            <i *ngIf="isSortOrderNone('zahteviZaPromenuVlasnistva')" class="fas fa-sort"></i>
          </th>
          <th scope="col" (click)="toggleSortOrder('izdavanjePotvrda')">
            Broj izdavanja potvrda
            <i *ngIf="isSortOrderAsc('izdavanjePotvrda')" class="fas fa-sort-up"></i>
            <i *ngIf="isSortOrderDesc('izdavanjePotvrda')" class="fas fa-sort-down"></i>
            <i *ngIf="isSortOrderNone('izdavanjePotvrda')" class="fas fa-sort"></i>
          </th>
          <th scope="col" (click)="toggleSortOrder('upotrebaElektronskihServisa')">
            Broj upotreba elektronskih servisa
            <i *ngIf="isSortOrderAsc('upotrebaElektronskihServisa')" class="fas fa-sort-up"></i>
            <i *ngIf="isSortOrderDesc('upotrebaElektronskihServisa')" class="fas fa-sort-down"></i>
            <i *ngIf="isSortOrderNone('upotrebaElektronskihServisa')" class="fas fa-sort"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let statistika of statistikePrikaz | orderBy:sortField:sortOrder">
          <td>{{ statistika.godina }}</td>
          <td>{{ statistika.podnetiZahtevi }}</td>
          <td>{{ statistika.reseniZahtevi }}</td>
          <td>{{ statistika.procenatDrugostepenihZalbi }}%</td>
          <td>{{ statistika.registrovaneParcele }}</td>
          <td>{{ statistika.upisanaPravaNaParcelama }}</td>
          <td>{{ statistika.vrednostUpisanihPrava }}</td>
          <td>{{ statistika.zahteviZaPromenuVlasnistva }}</td>
          <td>{{ statistika.izdavanjePotvrda }}</td>
          <td>{{ statistika.upotrebaElektronskihServisa }}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="download2013WORD()">Preuzmi izveštaj statistike za 2013. godinu (WORD) <i class="fa fa-download"></i></button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" (click)="download2013PDF()">Preuzmi izveštaj statistike za 2013. godinu (PDF) <i class="fa fa-download"></i></button>
    <br><br>
    <button type="button" class="btn btn-primary" (click)="download2014WORD()">Preuzmi izveštaj statistike za 2014. godinu (WORD) <i class="fa fa-download"></i></button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" (click)="download2014PDF()">Preuzmi izveštaj statistike za 2014. godinu (PDF) <i class="fa fa-download"></i></button>
    <br><br>
    <button type="button" class="btn btn-primary" (click)="download2015WORD()">Preuzmi izveštaj statistike za 2015. godinu (WORD) <i class="fa fa-download"></i></button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" (click)="download2015PDF()">Preuzmi izveštaj statistike za 2015. godinu (PDF) <i class="fa fa-download"></i></button>
    <br><br>
    <button type="button" class="btn btn-primary" (click)="download2016WORD()">Preuzmi izveštaj statistike za 2016. godinu (WORD) <i class="fa fa-download"></i></button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" (click)="download2016PDF()">Preuzmi izveštaj statistike za 2016. godinu (PDF) <i class="fa fa-download"></i></button>
    <br><br>
    <button type="button" class="btn btn-primary" (click)="download2017WORD()">Preuzmi izveštaj statistike za 2017. godinu (WORD) <i class="fa fa-download"></i></button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" (click)="download2017PDF()">Preuzmi izveštaj statistike za 2017. godinu (PDF) <i class="fa fa-download"></i></button>
    <br><br>
    <button type="button" class="btn btn-primary" (click)="download2018WORD()">Preuzmi izveštaj statistike za 2018. godinu (WORD) <i class="fa fa-download"></i></button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" (click)="download2018PDF()">Preuzmi izveštaj statistike za 2018. godinu (PDF) <i class="fa fa-download"></i></button>
    <br><br>
    <button type="button" class="btn btn-primary" (click)="download2019WORD()">Preuzmi izveštaj statistike za 2019. godinu (WORD) <i class="fa fa-download"></i></button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" (click)="download2019PDF()">Preuzmi izveštaj statistike za 2019. godinu (PDF) <i class="fa fa-download"></i></button>
    <br><br>
    <button type="button" class="btn btn-primary" (click)="download2020WORD()">Preuzmi izveštaj statistike za 2020. godinu (WORD) <i class="fa fa-download"></i></button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" (click)="download2020PDF()">Preuzmi izveštaj statistike za 2020. godinu (PDF) <i class="fa fa-download"></i></button>
    <br><br>
    <button type="button" class="btn btn-primary" (click)="download2021WORD()">Preuzmi izveštaj statistike za 2021. godinu (WORD) <i class="fa fa-download"></i></button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" (click)="download2021PDF()">Preuzmi izveštaj statistike za 2021. godinu (PDF) <i class="fa fa-download"></i></button>
    <br><br>
    <button type="button" class="btn btn-primary" (click)="download2022WORD()">Preuzmi izveštaj statistike za 2022. godinu (WORD) <i class="fa fa-download"></i></button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" (click)="download2022PDF()">Preuzmi izveštaj statistike za 2022. godinu (PDF) <i class="fa fa-download"></i></button>
</div>
