<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/notar-home">Aplikacija za notara</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/notar-home">Početna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/notar-profile">Pregled profila</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Odjava</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
  
<div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary btn-block mb-2" (click)="maticnaKnjigaRodjenih()">Pregled matične knjige rođenih</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary btn-block mb-2" (click)="maticnaKnjigaVencanih()">Pregled matične knjige venčanih</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary btn-block mb-2" (click)="maticnaKnjigaUmrlih()">Pregled matične knjige umrlih</button>
      </div>
    </div>
</div>
