<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand ml-auto" href="/notar-home">Aplikacija za notara</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/notar-home">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/notar-profile">Pregled profila</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Odjava</a>
        </li>
      </ul>
    </div>
</nav>
<h1>Prikaz poruka od katastra o evidentiranim promenama vlasništva</h1>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-6">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <div class="img-container">
              <img src="/assets/Slika32.jpg" width="200px" alt="Opis slike">
            </div>
          </div>
          <div class="col-md-10">
            <h5 class="card-title"><a routerLink="/poruka-notaru">Prikaz poruka od katastra o evidentiranim promenama vlasništva</a></h5>
          </div>
        </div>
      </div>
    </div>
</div>
<h1>Spisak ugovora</h1>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-6">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <div class="img-container">
              <img src="/assets/Slika24.jpg" width="200px" alt="Opis slike">
            </div>
          </div>
          <div class="col-md-10">
            <h5 class="card-title"><a routerLink="/prikaz-ugovora-notar">Spisak ugovora</a></h5>
          </div>
        </div>
      </div>
    </div>
</div>
<h1>Spisak termina</h1>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-6">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <div class="img-container">
              <img src="/assets/Slika25.png" width="200px" alt="Opis slike">
            </div>
          </div>
          <div class="col-md-10">
            <h5 class="card-title"><a routerLink="/prikaz-termina-notar">Spisak termina</a></h5>
          </div>
        </div>
      </div>
    </div>
</div>
