<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand ml-auto" href="/gradjanin-home">eGrađanin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/gradjanin-home">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gradjanin-profile">Pregled profila</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Odjava</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container my-5">
    <div class="row">
      <div class="col-md-8">
        <img class="img-fluid" src="/assets/Slika13.jpg" alt="Opis slike">
        <h2 class="mt-3">GeoSrbija – pronalaženje broja parcele</h2>
        <hr>
        <div class="card-text mb-4">
          <p>Za dobavljanje besplatnog lista nepokretnosti iz Katastra Nepokretnosti neophodno je da znate broj parcele na kojoj se nalazi nepokretnost:</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;1. Broj parcele možete pronaći putem narednog linka gde treba zumirati skroz do nivoa parcele:</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://a3.geosrbija.rs/katastar/">>>> geoSrbija – KLIKNITE ZA PRONALAŽENJE BROJA PARCELE <<<</a></p>
          <p>Uputstvo kako pronaći parcelu na sajtu GeoSrbija možete pogledati u narednom videu:</p>
          <p><iframe width="560" height="315" src="https://www.youtube.com/embed/vLUxkz8kCUg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;2. Nakon što saznate broj parcele, pređite na sajt eKatastra klikom na naredni link i izaberite vašu opštinu:</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://katastar.rgz.gov.rs/eKatastarPublic/publicaccess.aspx">>>> geoSrbija – KLIKNITE ZA PRONALAŽENJE BROJA PARCELE <<<</a></p>
          <p><img class="img-fluid" src="/assets/Slika14.jpg" alt="Opis slike"></p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;3. Nakon što ste izabrali opštinu, ukucajte broj parcele i verifikaciona slova koja pročitate sa slike.</p>
          <p><img class="img-fluid" src="/assets/Slika15.jpg" alt="Opis slike"></p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;4. Nakon toga možete pogledati i odštampati List nepokretnosti i ostala dokumenta iz Katastra.</p>
          <p><img class="img-fluid" src="/assets/Slika16.png" alt="Opis slike"></p>
          <br><br><br><hr/><br><br><br>
          <p><img class="img-fluid" src="/assets/Slika17.png" alt="Opis slike"></p>
        </div>
      </div>
    </div>
</div>
