<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand ml-auto" href="/maticar-home">Aplikacija za matičara</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/maticar-home">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/maticar-profile">Pregled profila</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-maticna-knjiga-umrlih">Dodaj maticnu knjigu umrlih</a>
    </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Odjava</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container-fluid">
  <h1>{{title}}</h1>
  <div class="form-group row">
    <label for="jmbg" class="col-sm-2 col-form-label">JMBG:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="jmbg" [(ngModel)]="jmbg">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" (click)="pretrazi()">Pretraži po jmbg</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4" *ngFor="let korisnik of korisnici">
      <div class="card mb-3">
        <div class="card-header">{{korisnik.ime}} {{korisnik.prezime}}</div>
        <div class="card-body">
          <p class="card-text"><strong>JMBG:</strong> {{korisnik.jmbg}}</p>
          <p class="card-text"><strong>Ime:</strong> {{korisnik.ime}}</p>
          <p class="card-text"><strong>Prezime:</strong> {{korisnik.prezime}}</p>
          <p class="card-text"><strong>Adresa rodjenja:</strong> {{korisnik.adresaRodjenja}}</p>
          <p class="card-text"><strong>Državljanstvo:</strong> {{korisnik.drzavljanstvo}}</p>
          <p class="card-text"><strong>Ime oca:</strong> {{korisnik.imeOca}}</p>
          <p class="card-text"><strong>Prezime oca:</strong> {{korisnik.prezimeOca}}</p>
          <p class="card-text"><strong>Zanimanje oca:</strong> {{korisnik.zanimanjeOca}}</p>
          <p class="card-text"><strong>JMBG oca:</strong> {{korisnik.jmbgOca}}</p>
          <p class="card-text"><strong>Ime majke:</strong> {{korisnik.imeMajke}}</p>
          <p class="card-text"><strong>Prezime majke:</strong> {{korisnik.prezimeMajke}}</p>
          <p class="card-text"><strong>Zanimanje majke:</strong> {{korisnik.zanimanjeMajke}}</p>
          <p class="card-text"><strong>JMBG majke:</strong> {{korisnik.jmbgMajke}}</p>
          <p class="card-text"><strong>Datum smrti:</strong> {{korisnik.danMesecIGodinaSmrti}}</p>
          <p class="card-text"><strong>Čas smrti:</strong> {{korisnik.casSmrti}}</p>
          
        </div>
      </div>
    </div>
  </div>
</div>
