<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand ml-auto" href="/gradjanin-home">eGrađanin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/gradjanin-home">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gradjanin-profile">Pregled profila</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Odjava</a>
        </li>
      </ul>
    </div>
</nav>
<div class="row">
  <div class="col-md-3 text-center">
    <img src="/assets/Slika19.jpg" class="img-fluid rounded-circle">
  </div>
  <div class="col-md-9">
    <h1>{{ user.ime }} {{ user.prezime }}</h1>
    <table class="table">
      <tbody>
        <tr>
          <th>JMBG:</th>
          <td>{{ user.jmbg }}</td>
        </tr>
        <tr>
          <th>Pol:</th>
          <td>{{ user.pol }}</td>
        </tr>
        <tr>
          <th>Datum rođenja:</th>
          <td>{{ user.datumRodjenja }}</td>
        </tr>
        <tr>
          <th>Mesto rođenja:</th>
          <td>{{ user.mestoRodjenja }}</td>
        </tr>
        <tr>
          <th>Ime roditelja:</th>
          <td>{{ user.imeRoditelja }}</td>
        </tr>
        <tr>
          <th>Adresa:</th>
          <td>{{ user.adresa }}</td>
        </tr>
        <tr>
          <th>Korisničko ime:</th>
          <td>{{ user.korisnickoIme }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
