<div class="create-knjiga-container">
    <form class="post-form" [formGroup]="createMaticnaKnjigaForm" (ngSubmit)="createKnjiga()">
      <div class="form-group">
        <div class="create-subreddit-heading">Kreiraj maticnu knjigu vencanih</div>
        <hr />
        <input type="text" [formControlName]="'imeZene'" class="form-control" style="margin-top: 5px" placeholder="Ime zene">
      <input type="text" [formControlName]="'prezimeZene'" class="form-control" style="margin-top: 5px" placeholder="Prezime zene">
      <input type="text" [formControlName]="'imeMuza'" class="form-control" style="margin-top: 5px" placeholder="Ime muza">
      <input type="text" [formControlName]="'prezimeMuza'" class="form-control" style="margin-top: 5px" placeholder="Prezime muza">
      <input type="text" [formControlName]="'jmbgZene'" class="form-control" style="margin-top: 5px" placeholder="Jmbg zene">
      <input type="text" [formControlName]="'jmbgMuza'" class="form-control" style="margin-top: 5px" placeholder="Jmbg muza">
      <input type="text" [formControlName]="'danMesecIGodinaZakljucenjaBraka'" class="form-control" style="margin-top: 5px" placeholder="Datum zakljucenja braka">
      <input type="text" [formControlName]="'adresaPrebivalistaZene'" class="form-control" style="margin-top: 5px" placeholder="Adresa prebivalista zene">
      <input type="text" [formControlName]="'adresaPrebivalistaMuza'" class="form-control" style="margin-top: 5px" placeholder="Adresa prebivalista muza">
      <input type="text" [formControlName]="'drzavljanstvoZene'" class="form-control" style="margin-top: 5px" placeholder="Drzavljanstvo zene">
      <input type="text" [formControlName]="'drzavljanstvoMuza'" class="form-control" style="margin-top: 5px" placeholder="Drzavljanstvo muza">
      <input type="text" [formControlName]="'imeSvedoka1'" class="form-control" style="margin-top: 5px" placeholder="Ime prvog svedoka">
      <input type="text" [formControlName]="'prezimeSvedoka1'" class="form-control" style="margin-top: 5px" placeholder="Prezime prvog svedoka">
      <input type="text" [formControlName]="'imeSvedoka2'" class="form-control" style="margin-top: 5px" placeholder="Ime drugog svedoka">
      <input type="text" [formControlName]="'prezimeSvedoka2'" class="form-control" style="margin-top: 5px" placeholder="Prezime drugog svedoka">
        <div>
          <div style="margin-top: 5px" class="float-right">
            <button (click)="discard()" class="btnDiscard">Otkaži</button>
            <button class="btnCreateSubreddit">Kreiraj</button>
          </div>
        </div>
      </div>
    </form>
  </div>