<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand ml-auto" href="/gradjanin-home">eGrađanin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/gradjanin-home">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gradjanin-profile">Pregled profila</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Odjava</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Lista termina</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Datum i vreme</th>
            <th>Ime i prezime notara</th>
            <th>JMBG građanina</th>
            <th>Ime i prezime građanina</th>
            <th>Broj parcele</th>
            <th>JMBG vlasnika</th>
            <th>Ime i prezime vlasnika</th>
            <th>Srodstvo sa vlasnikom</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let termin of termini">
            <td>{{ termin.id }}</td>
            <td>{{ termin.datumIVremeSastanka }}</td>
            <td>{{ termin.imeIPrezimeNotara }}</td>
            <td>{{ termin.jmbgGradjanina }}</td>
            <td>{{ termin.imeIPrezimeGradjanina }}</td>
            <td>{{ termin.brojParcele }}</td>
            <td>{{ termin.jmbgVlasnika }}</td>
            <td>{{ termin.imeIPrezimeVlasnika }}</td>
            <td>{{ termin.srodstvo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="btn btn-primary" (click)="rezervisiTermin()">Rezerviši termin</button>
</div>
