<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand ml-auto" href="/notar-home">Aplikacija za notara</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/notar-home">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/notar-profile">Pregled profila</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Odjava</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Lista ugovora</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Ime i prezime notara</th>
            <th>Vrsta ugovora</th>
            <th>Datum overe</th>
            <th>Overen</th>
            <th>Broj parcele</th>
            <th>Stari vlasnik</th>
            <th>Novi vlasnik</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ugovor of ugovori">
            <td>{{ ugovor.id }}</td>
            <td>{{ ugovor.notar }}</td>
            <td>{{ ugovor.vrstaUgovora }}</td>
            <td>{{ ugovor.datumOvere }}</td>
            <td>{{ ugovor.overen }}</td>
            <td>{{ ugovor.brojParcele }}</td>
            <td>{{ ugovor.stariVlasnik }}</td>
            <td>{{ ugovor.noviVlasnik }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="btn btn-primary" (click)="dodajNoviUgovor()">Dodavanje novog ugovora</button>
  <button class="btn btn-primary" (click)="proveraNepokretnosti()">Provera podataka o nepokretnosti</button>
  <button class="btn btn-primary" (click)="proveraGradjanina()">Provera podataka o gradjaninu</button>
</div>