<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand ml-auto" href="/notar-home">Aplikacija za notara</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/notar-home">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/notar-profile">Pregled profila</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Odjava</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container my-4">
    <h1 class="text-center">{{ title }}</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">ID notara</th>
          <th scope="col">JMBG notara</th>
          <th scope="col">Ime notara</th>
          <th scope="col">Prezime notara</th>
          <th scope="col">Pol notara</th>
          <th scope="col">Datum rođenja notara</th>
          <th scope="col">Korisničko ime notara</th>
          <th scope="col">Vrsta ugovora</th>
          <th scope="col">Datum overe ugovora</th>
          <th scope="col">Da li je overen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ugovor of ugovoriPrikaz">
          <td>{{ ugovor.idNotara }}</td>
          <td>{{ ugovor.jmbgNotara }}</td>
          <td>{{ ugovor.imeNotara }}</td>
          <td>{{ ugovor.prezimeNotara }}</td>
          <td>{{ ugovor.polNotara }}</td>
          <td>{{ ugovor.datumRodjenjaNotara }}</td>
          <td>{{ ugovor.korisnickoImeNotara }}</td>
          <td>{{ ugovor.vrstaUgovora }}</td>
          <td>{{ ugovor.datumOvereUgovora }}</td>
          <td>{{ ugovor.overen }}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-danger" (click)="downloadUgovor1PDF()">Preuzmi ugovor1 (PDF) <i class="fa fa-download"></i></button>
    <br><br>
    <button type="button" class="btn btn-danger" (click)="downloadUgovor2PDF()">Preuzmi ugovor2 (PDF) <i class="fa fa-download"></i></button>
    <br><br>
    <button type="button" class="btn btn-danger" (click)="downloadUgovor3PDF()">Preuzmi ugovor3 (PDF) <i class="fa fa-download"></i></button>
</div>