<div class="create-knjiga-container">
    <form class="post-form" [formGroup]="createMaticnaKnjigaForm" (ngSubmit)="createKnjiga()">
      <div class="form-group">
        <div class="create-subreddit-heading">Kreiraj maticnu knjigu rodjenih</div>
        <hr />
        <input type="text" [formControlName]="'jmbg'" class="form-control" style="margin-top: 5px" placeholder="JMBG">
<input type="text" [formControlName]="'ime'" class="form-control" style="margin-top: 5px" placeholder="Ime">
<input type="text" [formControlName]="'prezime'" class="form-control" style="margin-top: 5px" placeholder="Prezime">
<input type="text" [formControlName]="'adresaRodjenja'" class="form-control" style="margin-top: 5px" placeholder="Adresa rođenja">
<input type="text" [formControlName]="'drzavljanstvo'" class="form-control" style="margin-top: 5px" placeholder="Drzavljanstvo">
<input type="text" [formControlName]="'imeOca'" class="form-control" style="margin-top: 5px" placeholder="Ime oca">
<input type="text" [formControlName]="'prezimeOca'" class="form-control" style="margin-top: 5px" placeholder="Prezime oca">
<input type="text" [formControlName]="'zanimanjeOca'" class="form-control" style="margin-top: 5px" placeholder="Zanimanje oca">
<input type="text" [formControlName]="'jmbgOca'" class="form-control" style="margin-top: 5px" placeholder="JMBG oca">
<input type="text" [formControlName]="'imeMajke'" class="form-control" style="margin-top: 5px" placeholder="Ime majke">
<input type="text" [formControlName]="'prezimeMajke'" class="form-control" style="margin-top: 5px" placeholder="Prezime majke">
<input type="text" [formControlName]="'zanimanjeMajke'" class="form-control" style="margin-top: 5px" placeholder="Zanimanje majke">
<input type="text" [formControlName]="'jmbgMajke'" class="form-control" style="margin-top: 5px" placeholder="JMBG majke">
<input type="text" [formControlName]="'danMesecIGodinaSmrti'" class="form-control" style="margin-top: 5px" placeholder="Datum smrti">
<input type="text" [formControlName]="'casSmrti'" class="form-control" style="margin-top: 5px" placeholder="Cas smrti">
        <div>
          <div style="margin-top: 5px" class="float-right">
            <button (click)="discard()" class="btnDiscard">Otkaži</button>
            <button class="btnCreateSubreddit">Kreiraj</button>
          </div>
        </div>
      </div>
    </form>
  </div>