<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="card-title text-center">Stranica za prijavu</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="username">Korisničko ime</label>
                <input type="text" class="form-control" id="username" formControlName="username" [ngClass]="{'invalid-input': submitted && loginForm.controls['username'].errors}">
                <div class="required-message" *ngIf="submitted && loginForm.controls.username.errors?.required">Ovo polje je obavezno.</div>
              </div>
              <div class="form-group">
                <label for="password">Lozinka</label>
                <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{'ng-invalid': submitted && loginForm.controls.password.invalid}">
                <div class="required-message" *ngIf="submitted && loginForm.controls.password.errors?.required">Ovo polje je obavezno.</div>
              </div>
              <div class="form-group text-center mt-3">
                <button type="submit" class="btn btn-primary btn-block">Prijavi se</button>
              </div>
              <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>