<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand ml-auto" href="/katastar-home">Aplikacija za katastar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/katastar-home">Početna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/katastar-profile">Pregled profila</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/login">Odjava</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <img class="img-fluid" src="/assets/Slika2.jpg" alt="Opis slike">
      <h2 class="mt-3">Otvoren interni konkurs</h2>
      <p class="lead">25.04.2023.</p>
      <hr>
      <div class="card-text mb-4">
        <p>Otvoren je interni konkurs za popunjavanje izvršilačkog radnog mesta u Republičkom geodetskom zavodu.</p>
        <p>Na internom konkursu mogu da učestvuju samo državni službenici zaposleni na neodređeno vreme iz organa državne uprave i službi Vlade. Obrazac prijave na konkurs šalje se poštom ili se predaje neposredno na adresu Republičkog geodetskog zavoda, Bulevar vojvode Mišića 39, 11040 Beograd sa naznakom „Za interni konkurs za popunjavanje izvršilačkog radnog mesta ”.</p>
        <p>Rok za podnošenje prijava na interni konkurs je osam dana i počinje da teče 26. aprila 2023. godine i ističe 03. maja 2023. godine.</p>
        <p>Datum oglašavanja: 25. april 2023. godine.</p>
        <p>Lice koje je zaduženo za davanje obaveštenja: Dragana Pavlović, tel: (011)715-2762, od 10.00 do 13.00 časova.</p>
      </div>
    </div>
  </div>
</div>
