<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand ml-auto" href="/notar-home">Aplikacija za notara</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/notar-home">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/notar-profile">Pregled profila</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Odjava</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Dodavanje novog ugovora</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="dodajUgovor()" #nepokretnostForm="ngForm">
            <div class="form-group">
              <label for="notar">Ime i prezime notara:</label>
              <input type="text" id="notar" name="notar" [(ngModel)]="ugovor.notar" required class="form-control" readonly>
            </div>
            <div class="form-group">
              <label for="vrstaUgovora">Vrsta ugovora:</label>
              <input type="text" id="vrstaUgovora" name="vrstaUgovora" [(ngModel)]="ugovor.vrstaUgovora" required class="form-control" readonly>
            </div>
            <div class="form-group">
              <label for="datumOvere">Datum overe (format dd.MM.gggg):</label>
              <input type="text" id="datumOvere" name="datumOvere" [(ngModel)]="ugovor.datumOvere" required class="form-control">
            </div>
            <div class="form-group">
              <label for="overen">Da li je ugovor overen (da/ne):</label>
              <input type="text" id="overen" name="overen" [(ngModel)]="ugovor.overen" required class="form-control" readonly>
            </div>
            <div class="form-group">
              <label for="brojParcele">Broj parcele:</label>
              <input type="text" id="brojParcele" name="brojParcele" [(ngModel)]="ugovor.brojParcele" required class="form-control">
            </div>
            <div class="form-group">
              <label for="stariVlasnik">Stari vlasnik parcele:</label>
              <input type="text" id="stariVlasnik" name="stariVlasnik" [(ngModel)]="ugovor.stariVlasnik" required class="form-control">
            </div>
            <div class="form-group">
              <label for="noviVlasnik">Novi vlasnik parcele:</label>
              <input type="text" id="noviVlasnik" name="noviVlasnik" [(ngModel)]="ugovor.noviVlasnik" required class="form-control">
            </div>
            
            <button type="submit" class="btn btn-primary">Dodaj ugovor</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
