<div class="create-knjiga-container">
    <form class="post-form" [formGroup]="createMaticnaKnjigaForm" (ngSubmit)="createKnjiga()">
      <div class="form-group">
        <div class="create-subreddit-heading">Kreiraj maticnu knjigu rodjenih</div>
        <hr />
        <input type="text" [formControlName]="'jmbg'" class="form-control" style="margin-top: 5px"
          placeholder="Jmbg">
          <input type="text" [formControlName]="'ime'" class="form-control" style="margin-top: 5px"
          placeholder="Ime">
          <input type="text" [formControlName]="'prezime'" class="form-control" style="margin-top: 5px"
          placeholder="Prezime">
          <input type="text" [formControlName]="'adresaRodjenja'" class="form-control" style="margin-top: 5px"
          placeholder="Adresa Rodjenja">
          <input type="text" [formControlName]="'drzavljanstvo'" class="form-control" style="margin-top: 5px"
          placeholder="Drzavljanstvo">
          <input type="text" [formControlName]="'danMesecGodinaIVremeRodjenja'" class="form-control" style="margin-top: 5px"
          placeholder="Datum i vreme rodjenja">
          <input type="text" [formControlName]="'roditelji'" class="form-control" style="margin-top: 5px"
          placeholder="Roditelji">
          <input type="text" [formControlName]="'deca'" class="form-control" style="margin-top: 5px"
          placeholder="Deca">
          <input type="text" [formControlName]="'mestoIOpstinaRodjenja'" class="form-control" style="margin-top: 5px"
          placeholder="Mesto i opstina rodjenja">
          <input type="text" [formControlName]="'drzavaRodjenja'" class="form-control" style="margin-top: 5px"
          placeholder="Drzava rodjenja">
          <input type="text" [formControlName]="'imeOca'" class="form-control" style="margin-top: 5px"
          placeholder="Ime oca">
          <input type="text" [formControlName]="'prezimeOca'" class="form-control" style="margin-top: 5px"
          placeholder="Prezime oca">
          <input type="text" [formControlName]="'zanimanjeOca'" class="form-control" style="margin-top: 5px"
          placeholder="Zanimanje oca">
          <input type="text" [formControlName]="'jmbgOca'" class="form-control" style="margin-top: 5px"
          placeholder="Jmbg oca">
          <input type="text" [formControlName]="'imeMajke'" class="form-control" style="margin-top: 5px"
          placeholder="Ime majke">
          <input type="text" [formControlName]="'prezimeMajke'" class="form-control" style="margin-top: 5px"
          placeholder="Prezime majke">
          <input type="text" [formControlName]="'zanimanjeMajke'" class="form-control" style="margin-top: 5px"
          placeholder="Zanimanje majke">
          <input type="text" [formControlName]="'jmbgMajke'" class="form-control" style="margin-top: 5px"
          placeholder="Jmbg majke">
        <div>
          <div style="margin-top: 5px" class="float-right">
            <button (click)="discard()" class="btnDiscard">Otkaži</button>
            <button class="btnCreateSubreddit">Kreiraj</button>
          </div>
        </div>
      </div>
    </form>
  </div>