<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand ml-auto" href="/katastar-home">Aplikacija za katastar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/katastar-home">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/katastar-profile">Pregled profila</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Odjava</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container">
  <div class="card mx-auto mt-5" style="width: 400px;">
    <div class="card-body">
      <h2 class="card-title text-center">Ažuriranje podataka o nepokretnosti</h2>
      <form (ngSubmit)="azurirajNepokretnost()" #azuriranjeForm="ngForm">
        <div class="form-group">
          <label for="brojParcele">Broj parcele:</label>
          <input type="text" id="brojParcele" name="brojParcele" [(ngModel)]="azuriranjeNepokretnosti.brojParcele" required class="form-control">
        </div>
        <div class="form-group">
          <label for="stariVlasnik">Stari vlasnik:</label>
          <input type="text" id="stariVlasnik" name="stariVlasnik" [(ngModel)]="azuriranjeNepokretnosti.stariVlasnik" required class="form-control">
        </div>
        <div class="form-group">
          <label for="noviVlasnik">Novi vlasnik:</label>
          <input type="text" id="noviVlasnik" name="noviVlasnik" [(ngModel)]="azuriranjeNepokretnosti.noviVlasnik" required class="form-control">
        </div>
        
        <button type="submit" class="btn btn-primary">Ažuriraj nepokretnost</button>
      </form>
    </div>
  </div>
</div>